<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MedicalRecordSystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
       

        <AuthorizeView Roles="Admin,Normal">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="MedicalHistory">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Medical History
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Normal">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="BookAppointment">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Book Appointment
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ViewAppointments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Appointments
                </NavLink>
            </li>
        </AuthorizeView>

        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
